body {
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 100vw;
    font-family: 'Bebas Neue', sans-serif;
  }
 main{
  display: flexbox;
 }


  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  nav {
 
    display: flex;
    justify-content: space-between;
    height: 45px;
    
  }
  

#wrapper{
    align-items:center;
    justify-content:center;
    display: flexbox;
    justify-items: baseline;
}
  .menu-links {
    padding-top: 5px;
    font-size: 1.5rem;
    color: rgb(189, 96, 96);
    font-weight: 400;  
    text-shadow: 1px 1px rgb(176, 155, 155);
  }
  .menu-links a {
    color: aliceblue;
  }


  header a {
    padding: 0 10px;
    text-decoration: none;
    
    
  }

  nav a:hover {
    color: rgb(224, 224, 210);
   
  }

  .container{
    display: flexbox;
    justify-content:space-between;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 20px;
    margin: 30px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  
  /* .details-btn{
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 26%;
    font-size: 18px;
  } */
  .add-btn{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

