body {
  background-color: bisque;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    
  }

 main{
  display: flexbox;
 }


  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  nav {
 
    display: flex;
    justify-content: space-between;
    height: 45px;
    
  }
  

#wrapper{
  width: 100%;
    align-items:center;
    justify-content:center;
    display: flex;
}
#deleteNutrition{
  background-color: rgb(218, 161, 161);
  font-size: medium;
  font-weight: 600;
  color: black;
  height: 30px;
  border-radius: 5px;
  margin-left: 550px;
}
#deleteNutrition:hover{
  background-color: floralwhite;
  font-size: large;
  text-shadow: 15px;
}
  .fitness-modal{
    padding-top: 5px;
    font-size: 1.5rem;
    color: rgb(189, 96, 96);
    font-weight: 400;  
    text-shadow: 1px 1px rgb(176, 155, 155);
    float: right;
  }
  .fitness-modal a{
    color: aliceblue;
  }
  .menu-links {
    padding-top: 5px;
    font-size: 1.5rem;
    color: rgb(189, 96, 96);
    font-weight: 400;  
    text-shadow: 1px 1px rgb(176, 155, 155);
  }
  .menu-links a {
    color: aliceblue;
  }


  header a {
    padding: 0 10px;
    text-decoration: none;
    
    
  }

  nav a:hover {
    color: rgb(224, 224, 210);
    font-size: 30px;
   
  }

  .container{
    display: flexbox;
    justify-content:space-between;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 75%;
    padding: 20px;
    margin: 30px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  .add-btn{
    overflow-y: hidden;
  }

  /* #my-nutrition{
    width: 250px;
    height: 250px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }  
  #nutrition-box{
    background-color: #000;
    width: 200px;
    height: 200px;
    border: 10px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }   */
  /* .details-btn{
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 26%;
    font-size: 18px;
  } */
  .add-btn{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

